<!DOCTYPE html>
<html>
{% extends 'bootstrap/base.html' %}
{% block head %}
{{ckeditor.load() }}
{{ super() }}
{% endblock %}
{% block title %}
Coolio
{% endblock %}

{% block navbar %}
{% if session['login'] == True %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
  <span style="display: inline-block;">BLOGOIC</span></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/create">Create</a></li>
      <li><a href="/my-blogs">My Blogs</a></li> </ul>
      <ul class="pull-right nav navbar-nav">
      <li><a href="/logout">Logout</a></li>     
    <li><a href="/account/delete">Delete Account</a></li>
    </ul>
  </div>
</nav>


{% else %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
  <span style="display: inline-block;">BLOGOIC</span></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/about">About</a></li> </ul>
      <ul class="pull-right nav navbar-nav">
      <li><a href="/register/">Register</a></li>
      <li><a href="/login/">Login</a></li>
    </ul>
  </div>
</nav>
{% endif %}

{% endblock %}

    {% block content %}
      
          {% block subcontent %}
          {% endblock %}
    

{% endblock %}

</html>
