<!DOCTYPE html>
<html>
{% extends 'bootstrap/base.html' %}
{% block head %}
{{ ckeditor.load() }}
{{ super() }}
{% endblock %}
{% block title %}
Coolio
{% endblock %}

{% block navbar %}


{% if session.login %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
  <span style="display: inline-block;">BLOGOIC</span></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/create">Create Post</a></li>
      <li><a href="/my-blogs">View Post</a></li>
      <li><a href="/tag">Add tag</a></li> 
 
    
    </ul>

      <ul class="pull-right nav navbar-nav">
      <li><a href="/logout">Logout</a></li>     
    <li><a href="/account/delete">Delete Account</a></li>
    </ul>
  </div>
</nav>

{% else %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
  <span style="display: inline-block;">BLOGOIC</span></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/about">About</a></li> </ul>
      <ul class="pull-right nav navbar-nav">
      <li><a href="/register/">Register</a></li>
      <li><a href="/login/">Login</a></li>
    </ul>
  </div>
</nav>
{% endif %}

{% endblock %}

    {% block content %}
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
      <ul>
        {% for category, message in messages %}
        <li class="alert alert-{{ category }}">{{message}}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
{% block subcontent %}
  {% endblock %}
    
{% endblock %}

</html>



